@using Umbraco.Web
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{

	int imageId = Model.value.imageId;

	string title = Model.value.title;

	string description = Model.value.description;

	IPublishedContent link = null;
	if (Model.value.link != null) {
		//Linked ot an image or Media
		link = Umbraco.TypedContent((string)Model.value.link.udi);
	}

}

@if (link != null) {
@Html.Raw("<a href='" + link.Url + "' target='" + Model.value.link.target + "' title='" + Model.value.link.name + "'>")
}

<div class="imgButton">
	<img src="@Umbraco.TypedMedia(imageId).Url" />
	@if (!string.IsNullOrEmpty(title) || !string.IsNullOrEmpty(description)) {
		<div class="content">
			@if (!string.IsNullOrEmpty(title)) {
<div class="title">
	@title
</div>
			}
			@if (!string.IsNullOrEmpty(description)) {
<div class="desc">
	@description
</div>
			}
		</div>
	}
</div>
@if (link != null) {
@Html.Raw("</a>")
}
