@*@inherits Umbraco.Web.Macros.PartialViewMacroPage*@
@using DM.MemberLogin.Controllers;
@model DM.MemberLogin.Models.LoginModel

@if (User.Identity.IsAuthenticated) {
	<p>
		Welcome, @User.Identity.Name
	</p>
	<p>
		@Html.ActionLink("Log out", "Logout", "Login")
	</p>
} else {
	using (Html.BeginUmbracoForm<LoginController>("MemberLogin")) {
		@Html.EditorFor(x => Model)
		<input type="submit" />
	}

	<p class="error">@TempData["Status"]</p>
}
